.icon {
    width: 16px;
    height: 16px;
    float: left;
  }

  .open .icon {
    cursor: pointer;
    background: url(https://js.cx/sprite-tree/minus.gif);
  }

  .closed .icon {
    cursor: pointer;
    background: url(https://js.cx/sprite-tree/plus.gif);
  }

  .leaf .icon {
    cursor: text;
    background: url(https://js.cx/sprite-tree/article.gif);
  }

  li {
    list-style: none;
  }

  .text {
    margin: 6px 0 6px 16px;
  }