.nav {
    height: 40px;
    width: 80%;
    margin: auto;
  }
  
  .nav .left {
    float: left;
    cursor: pointer;
  }
  
  .nav .right {
    float: right;
    cursor: pointer;
  }
  
  .nav .pages {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav .pages li {
    display: inline;
    margin: 0 3px;
    line-height: 40px;
    cursor: pointer;
}